{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<div class="header-bar">
    <div> 
        <link rel="stylesheet" href="{% static 'css/home.css' %}">
        <h1>Hello {{request.user|title}}</h1>
        <h3 style="margin:0">You have <i>{{count}}</i> incomplete task{{ count|pluralize:"s" }}</h3>
    </div>

    {% if request.user.is_authenticated %}
    <a href="{% url 'user_logout' %}">Logout</a> {% else %}
    <a href="{% url 'user_login' %}">Login</a> {% endif %}
</div>

<body id="body-pd">
    <header class="header" id="header">
        <div class="header_toggle">
            <img class="bx bx-menu" id="header-toggle" width="40px" src="/static/images/burger-menu.jpg" alt="burger menu">
        </div>
        <div class="header_img">
            
        </div>
    </header>
    
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                <a href="#" class="nav_logo">
                    <img class="bx bx-menu" id="header-toggle" width="30px" src="/static/images/app-icon.png" alt="burger menu">
                    <span class="nav_logo-name">Scrum Manager</span>
                </a>
                <div class="nav_list"> 
                    <a href="#" class="nav_link active">
                        <img width="35px" src="/static/images/task-icon.png" alt="burger menu">
                        <span class="nav_name">Task</span>
                    </a>
                    <a href="#" class="nav_link">
                        <img width="30px" src="/static/images/backlog-icon.png" alt="burger menu">
                        <span class="nav_name">Backlog</span>
                    </a>

                    <a href="#" class="nav_link">
                        <img width="30px" src="/static/images/board-icon.png" alt="burger menu">
                        <span class="nav_name">Board</span>
                    </a>

                   
                </div>
            </div>
        </nav>
    </div>

    <h1> Components </h1>
    <script src="{% static 'js/main.js' %}"></script>  
</body>

<h1>My SCRUM To Do List</h1>
<a href="{% url 'task_create' %}"> Add Task </a>

<table>
    <tr>
        <th>Task</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>
            {{task.title}}
        </td>
    </tr>
        {% endfor %}
</table>
{% endblock content %}
